body {
    background-color: #1E1E1E;
}

#login_register {
    background-color: whitesmoke;
    width: 207px;
    border: 1px solid black;
    padding: 5px;
}
#login_button {
    float: left;
    width: 40%;
}
#register_button {
    float: right;
    width: 40%;
}

#message_client {
    background-color: whitesmoke;
    width: 207px;
    border: 1px solid black;
    padding: 5px;
}
textarea {
    width: 200px;
    resize: none;
}
#username, #password, #message {
    width: 96%;
}
#post_button {
    width: 100%;
}

#game_div {
    background-color: white;
    margin-left: 15px;
}
#canvas_div {
    width: 250px;
    height: 250px;
    margin: 17px;
    background-color: #F1F1F1;
}
#game_controls {
    background-color: grey;
}
#shop {
    height: 100%;
    background-color: #888;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.cb{
    clear: both;
}
.bd {
    border: 1px solid black;
}